.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-popup-content-wrapper {
  color: red;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  color: red;
}

.leaflet-popup-tip-container {
  color: red;
}